.dash-board {
    margin-left: 80px;
    margin-top: 60px;
  }
  
  .warehouse {
    padding: 20px;
    font-family: "Poppins";
  }
  
  .search-bar {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .shelf-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .shelf {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .text{
    font-weight: 600;
  }
  
  .product-list-warehouse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    margin-top: 8px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  .shelf-name{
    margin-top: 5px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
  
  .view-button {
    background-color: #007bff;
    color: white;
    border: none;

    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .product-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1001;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .product-details.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .product-details-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .product-details button {
    margin-top: 20px;
  }
  
  .available {
    margin-left: 3px;
    padding: 3px 7px;
    border-radius: 20px;
    font-weight: 600;
    background-color: green;
    color: white;
  }
  
  .out-of-stock {
    margin-left: 3px;
    padding: 3px 7px;
    border-radius: 20px;
    font-weight: 600;
    background-color: red;
    color: white;
  }
  
  /* Dark background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  