@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.heading{
    font-family: "Poppins";
    
}
.info-section{
    font-family: "Poppins";
    color: grey;
    font-size: 17px;
    margin-top: 5px;
    margin-top: 10px;
}
.stats-info{
    display: flex;
    justify-content: space-between;
}
.box-stats{
    height: 140px;
    padding-top: 10px;
    width: 236px;
    background-color: rgb(196, 136, 253);
     color: white;
    text-align: center;
    font-family: "Poppins";
    font-weight:600 ;
    font-size:25px ;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(79, 0, 164);


}

.icon{
    color: rgb(124, 1, 239);
    font-size: 40px;
  
}
.Stats-details{
    justify-content: space-evenly;
    align-items: center;
display: flex;
}